.products-container {
  margin: 20px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.products-mainHeader {
  margin: 20px;
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Roboto;
  text-align: center;
  letter-spacing: 1px;
}

.MuiAutocomplete-root {
  padding: 90px 20px 20px;
}

.products-categorySelect.products-materialComponent {
  margin: 0 20px;
}

@media (min-width: 992px) {
  .MuiAutocomplete-root {
    padding: 190px 20px 4px;
  }
  .products-categorySelect.products-materialComponent {
    margin-top: 20px;
  }
}
