.productsList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

@media (min-width: 720px) {
  .productsList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
  }
}

@media (min-width: 1280px) {
  .productsList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
