@import "../../../styles/variables";

.shoppingBasket-mainHeader, .shoppingBasket-summaryHeader{
    margin: 20px;
    margin-bottom: 40px;
    font-size: 1.75rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 1px;
}

.shoppingBasket-mainHeader{
    margin-top: calc(40px + #{$header-height});
}