.product {
  width: 100%;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
}

.product-name,
.product-price {
  font-size: 0.85rem;
  margin: 10px 5px;
  text-transform: capitalize;
}

.product-price {
  font-weight: 600;
}
