.basketElement{
    display: flex;
}

.basketElement-imageWrapper{
    width: 60%;
    margin: 10px;
}

.basketElement-image{
    width: 100%;
}

.basketElement-dataWrapper{
    font-family: Roboto;
    margin: 10px;
    width: 100%;
}

.basketElement-iconBox{
    width: 100%;
}