.basketElement{
    display: flex;
}

.basketElement-image{
    width: 30%;
    margin: 10px;
}

.basketElement-data{
    font-family: Roboto;
    margin: 10px;
    width: 100%;
}

.basketElement-iconBox{
    width: 100%;
}